.display {
  width: 1280px;
  margin: 0 auto;
}

.mainTitle {
  margin: 98px 0 53px;
  text-align: center;
  position: relative;
}

.title1 {
  color: #ff661b;
  font-size: 32px;
  font-weight: 400px;
  line-height: 1;
  margin-bottom: 12px;
}

.title2 {
  color: #010101;
  font-size: 40px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.075em;
}

.products {
  margin: 0;
}

.prdList {
  margin: 0;
  width: 100%;
  min-width: 756px;
}

.prdList > li {
  position: relative;
  display: inline-block;
  color: #757575;
  vertical-align: top;
}

.prdList > li {
  margin-left: 40px;
  width: calc(25% - 30px);
}

.prdList > li:nth-child(4n + 1) {
  margin-left: 0;
}

.thumbnail {
  height: 290px;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 15px;
  border-radius: 15px;
  background-color: #f2f2f2;
}

.prdImg {
  height: 75%;
  position: relative;
}

.prdImg a {
  display: block;
  text-align: center;
  height: 100%;
}

.prdImg a img {
  height: 100%;
  width: auto;
  max-width: 100%;
  box-sizing: border-box;
  vertical-align: middle;
}

.icon {
  position: absolute;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
}
