.event {
  width: 1280px;
  margin: 0 auto;
}

.mainTitle {
  margin-top: 82px;
  margin-bottom: 53px;
  text-align: center;
  position: relative;
}

.title1 {
  color: #010101;
  font-size: 40px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.025em;
}

.prdList li {
  display: inline-block;
  width: 620px;
  margin-left: 40px;
}

.prdList li:first-child {
  margin-left: 0px;
}

.thumbnail {
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
  overflow: hidden;
  border-radius: 30px;
}

.thumbnail img {
  height: 330px;
}

.name {
  font-size: 28px;
  line-height: 37px;
  letter-spacing: -0.025em;
  font-weight: 500;
}

.period {
  display: block;
  font-style: normal;
  font-size: 22px;
  color: #989898;
  font-weight: 400;
}

.player {
  margin: 13px 0;
  margin-left: 1px;
  font-size: 0;
}
