.newArrival {
  width: 1280px;
  margin: 0 auto;
}

.titles {
  margin: 118px 0 53px;
  text-align: center;
  position: relative;
}

.title1 {
  color: #ff661b;
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  line-height: 1;
  margin-bottom: 12px;
  font-family: "Fredoka One", sans-serif;
}

.title2 {
  color: #010101;
  font-size: 40px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.025em;
}

.title2 strong {
  font-weight: 700;
}

.products {
  margin: 0;
}

.prodList {
  margin: 0;
  width: 100%;
  min-width: 756px;
  line-height: 0;
}

.prodList > li {
  margin-left: 40px;
  width: calc(25% - 30px);
  position: relative;
  display: inline-block;
  color: #757575;
  vertical-align: top;
}

.prodList > li:first-child {
  margin-left: 0;
}

.thumbnail {
  height: 290px;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 15px;
  border-radius: 10px;
  background-color: #f2f2f2;
}

.prdImg {
  height: 75%;
  position: relative;
}

.prdImg a {
  display: block;
  text-align: center;
  height: 100%;
}

.prdImg a img {
  height: 100%;
  width: auto;
  max-width: 100%;
  box-sizing: border-box;
  vertical-align: middle;
}

.icon {
  position: absolute;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
}

.icon img {
  vertical-align: middle;
}

.description {
  text-align: left;
  margin: 0;
  padding: 0;
  width: auto;
  letter-spacing: 0.025em;
  font-size: 12px;
  line-height: 18px;
}

.name {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  font-weight: normal;
  line-height: 25px;
  height: 50px;
  margin-bottom: 10px;
  letter-spacing: -0.025em;
  font-size: 18px;
  color: #101010;
}

.name a {
  color: #2e2e2e;
}

.name a span {
  font-size: 18px;
  color: #101010;
}

.salebox {
  display: inline-block;
}

.sale_bg {
  display: block;
}

.sale_bg span {
  font-size: 23px;
  font-weight: 700;
  color: #ff661b;
  margin-right: 5px;
}

.spec {
  display: inline-block;
  margin: 0;
}

.salesPrice {
  text-align: center;
  display: inline-block;
  margin-right: 5px;
}

.salesPrice span {
  font-size: 20px;
  color: #3a3a3a;
  font-weight: bold;
}

.customerPrice {
  text-align: center;
  display: inline-block;
  margin-right: 5px;
}

.customerPrice span {
  font-size: 17px;
  color: #989898;
  text-decoration: line-through;
}
