.header {
  position: relative;
  border-bottom: 1px solid #e7e7e7;
}

.sec1 {
  max-width: 1280px;
  font-size: 0px;
  margin: 0 auto;
  height: 143px;
  position: relative;
}

.sec2 {
  position: relative;
  width: 100%;
  height: 62px;
  border-top: 1px solid #e7e7e7;
}

.login {
  width: 100%;
  text-align: right;
  margin: 0 auto;
  height: 53px;
}

.login li {
  display: inline-block;
  font-size: 0px;
  margin-left: 12px;
  padding-left: 12px;
  background: url(https://www.sydeliciousshop.com/morenvyimg/mh_bar.png) no-repeat 0 50%;
}

.login li:first-child {
  background: none;
  margin: 0;
  padding: 0;
}

.login li a {
  color: #5a5a5a;
  font-weight: 400;
  font-size: 14px;
  display: block;
  height: 42px;
  line-height: 42px;
}

.logo {
  float: left;
}

.searchBox {
  z-index: 102;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 850px;
  height: 92px;
  padding-top: 50px;
  background-color: #fff;
  border-radius: 0 0 50px 50px;
}

.boxInner {
  width: 415px;
  margin: 0 auto;
}

.searchInput {
  width: 100%;
  height: 42px;
  border: 2px solid #ff661b;
  border-radius: 30px;
  box-sizing: border-box;
}

.searchInput::after {
  content: " ";
  display: block;
  clear: both;
}

.searchInput fieldset {
  position: relative;
}

.keyword {
  padding-top: 0;
  width: calc(100% - 42px);
  height: 38px;
  border: 0;
  border-radius: 30px;
  line-height: 38px;
  text-indent: 27px;
  text-align: left;
  font-size: 15px;
  color: #464646;
  outline: none;
}

.keyword::placeholder {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  transform: translateY(10%);
}

.searchDetail {
  display: none;
  z-index: 101;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 850px;
  height: 620px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 0 0 50px 50px;
  box-shadow: 0px 6px 7.68px 4.32px rgb(30 14 9 / 15%);
  overflow: hidden;
}

.searchDetail > div {
  height: auto;
}

.popular {
  width: 550px;
  margin: 151px auto 80px;
}

.popularTitle {
  font-size: 22px;
  line-height: 39px;
  letter-spacing: -0.025em;
  font-weight: 700;
  color: #585858;
}

.popular ul {
  padding: 0;
}

.popular ul li {
  display: inline-block;
  padding: 8px 20px;
  margin-right: 10px;
  margin-top: 18px;
  background-color: #f3f3f3;
  border-radius: 15.5px;
}

.popular ul li a {
  font-size: 16px;
  letter-spacing: -0.025em;
  color: #363636;
  line-height: 1;
}

.recent {
  width: 550px;
  margin: 0 auto 80px;
}

.recent .popularTitle span {
  margin-left: 20px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  color: #363636;
  cursor: pointer;
}

.recent .popularTitle span img {
  margin-left: 6px;
  vertical-align: middle;
}

.recent ul {
  margin-top: 10px;
}

.close {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  margin: 0;
  box-sizing: border-box;
  background-color: #f3f3f3;
  text-align: center;
}

.close img {
  padding: 14.5px;
  cursor: pointer;
  transform: rotate(0deg);
  transition: all 0.4s linear;
}

.user {
  float: right;
  margin-top: 40px;
}

.user li {
  float: left;
  margin-left: 36px;
}

.cart {
  position: relative;
}

.cart span {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 16px;
  height: 16px;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  text-align: center;
}

/* sec2 */

.mainCategory {
  width: 100%;
  margin: 0 auto;
  height: 62px;
}

.categoryList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.categoryList li {
  min-width: 100px;
  line-height: 62px;
  cursor: pointer;
}

.categoryList li a {
  color: #3a3a3a;
  font-size: 18px;
  line-height: 1;
}

.categoryList li:first-child a {
  color: #ff661b;
  font-weight: 700;
}

.fold {
  vertical-align: inherit;
  margin-right: 8px;
  font-size: 0;
}

.cateArea {
  display: none; /**/
  z-index: 100;
  position: absolute;
  top: 62px;
  width: 100%;
  padding-top: 13px;
  padding-bottom: 47px;
  background-color: #fff;
  border-top: 1px solid #ff661b;
}

.allCate {
  position: relative;
  width: 1280px;
  margin: 0 auto;
}

.moreAllCategory {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0;
}

ul ul {
  list-style-type: circle;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding: 0;
}

.depth2 li a {
  font-size: 18px;
  line-height: 53px;
  letter-spacing: -0.025em;
  color: #989898;
}

.moreAllCategory > li {
  min-width: 100px;
}

.moreAllCategory > li > a {
  display: none;
}
