/* global */
* {
  box-sizing: border-box;
  word-break: keep-all;
}

body {
  font-family: "Noto Sans KR", "Noto Sans", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

/* navbar */

nav {
  width: 100%;
  min-height: 60px;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: all 0.3s ease;
}

.navbar {
  position: relative;
  margin: 0 auto;
  display: flex;
  width: 1092px;
  height: 60px;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  display: block;
  width: 184px;
  height: 17px;
  background-image: url(https://www.tire-tech.co.kr/assets/images/common/logo.png);
  background-repeat: no-repeat;
  padding: 15px 6px;
  font-size: 18px;
  line-height: 20px;
  margin-left: 6px;
  margin-top: 10px;
}

.navbar .menu {
  display: flex;
  justify-content: space-between;
  margin-right: 150px;
  height: 100%;
}

.navbar .menu .item {
  width: 130px;
  font-weight: 200;
  font-size: 16px;
  color: black;
  padding: 0 10px;
  line-height: 3.5;
  cursor: pointer;
}

.navbar .navbar__hamburgur {
  display: none;
  position: relative;
  padding: 9px 10px;
  background-color: transparent;
  background-image: none;
  border: none;
  cursor: pointer;
}

.navbar .navbar__hamburgur .icon-bar {
  background-color: #801494;
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  margin-top: 4px;
}

.navbar .navbar__hamburgur .icon-bar:first-child {
  margin-top: 0;
}

nav .menu-collapse-container {
  position: absolute;
  width: 100%;
  z-index: 101;
  opacity: 0;
  transition: all 0.2s ease;
  pointer-events: none;
}

.subMenu__mouseenter {
  pointer-events: all !important;
  opacity: 1 !important;
}

nav .subMenuContainer {
  position: relative;
  margin: 0 auto;
  display: flex;
  width: 1092px;
  justify-content: space-between;
}

nav .tempBox {
  display: block;
  width: 184px;
}

nav .menu-collapsed {
  display: flex;
  justify-content: space-between;
  margin-right: 150px;
  margin-top: 20px;
}

nav .subMenu__item {
  width: 130px;
  font-weight: 300;
  font-size: 14px;
  color: white;
  padding: 10px;
  line-height: 1.2;
  cursor: pointer;
}

nav .subMenu__item:hover {
  color: #ce65e1;
}

nav .navbarSubShadow {
  position: absolute;
  top: 60px;
  width: 100%;
  height: 0px;
  background-color: black;
  opacity: 0.65;
  transition: all 0.2s ease;
}

.navbarSubShadow__mouseenter {
  height: 230px !important;
}

.side-collapse {
  position: absolute;
  background-color: #2d2d2d;
  width: 233px;
  height: 100vh;
  top: 0;
  right: -233px;
  display: flex;
  flex-direction: column;
}

.sidemenu .sidemenu__item > a {
  display: block;
  width: 100%;
  height: 60px;
  color: white;
  font-weight: 200;
  font-size: 16px;
  padding: 17px;
  margin-right: 25px;
  white-space: nowrap;
  border-bottom: 1px solid #434043;
}

.sidemenu__item {
  position: relative;
}

.sidemenu__item__plus {
  position: absolute;
  color: white;
  display: block;
  top: 15px;
  right: 10px;
  font-size: 20px;
  font-weight: 800;
}

.sidemenu__submenu {
  display: none;
  background-color: #444144;
  padding-bottom: 10px;
}

.sidemenu__submenu__item a {
  display: block;
  color: white;
  white-space: nowrap;
  font-size: 14px;
  padding-top: 10px;
  padding-left: 17px;
  font-weight: 300;
  line-height: 1.2;
}

.sidemenu__on > a {
  color: #ce65e1 !important;
}

.sidemenu__on .sidemenu__item__plus {
  color: #ce65e1;
}

.sidemenu__on .sidemenu__submenu {
  display: block;
}

.sidemenu__submenu__item a:hover {
  color: #ce65e1;
}

.sidemenu__item__plus::before {
  content: "\002b";
}

/* main */
/* main Img */

.mainImg {
  text-align: center;
}

.mainImg img {
  max-width: 100%;
  vertical-align: middle;
  text-align: center;
  border: none;
}

/* search Block */

.container {
  width: 1092px;
  margin: 0 auto;
  padding: 0 6px;
}

.searchBlock {
  background-color: white;
  border: 1px solid #ebebeb;
  padding: 12px 30px;
  border-radius: 100px;
  width: 650px;
  margin: 0 auto;
  transform: translateY(-50%);
}

.searchBlock ul {
  display: flex;
  justify-content: space-between;
}

/* service grid */

.container::after,
.container::before {
  content: " ";
  clear: both;
  display: table;
}

.serviceGrid {
  margin-bottom: 30px;
}

.serviceGrid .grid1 {
  padding: 0 6px;
  float: left;
  width: 50%;
}

.serviceGrid .grid2 {
  text-align: right;
  padding: 0 6px;
  width: 25%;
  float: left;
}

.serviceGrid .grid3 {
  text-align: right;
  padding: 0 6px;
  width: 25%;
  float: left;
}

.serviceGrid .grid4 {
  float: left;
  padding: 0 6px;
  margin-top: 30px;
  width: 100%;
}

.serviceGrid img {
  max-width: 100%;
}

/* sns section */

.snsSectionContainer {
  background-color: #eee;
  padding: 50px 0;
  margin-top: 50px;
}

.snsSectionContainer .container {
  width: 1092px;
  margin: 0 auto;
}

.snsSectionContainer .sectionTitle {
  color: #414042;
  font-size: 26px;
  line-height: 1;
  letter-spacing: -1px;
  font-weight: 400;
  margin-bottom: 20px;
}

.snsSectionContainer .facebookList {
  margin: 0 -10px;
  /* height: 556px; */
  /* height: 1112px; */
  /* height: 1668px; */
  overflow: hidden;
}

.snsSectionContainer .facebookList::before,
.snsSectionContainer .facebookList::after {
  content: " ";
  clear: both;
  display: table;
}

.snsSectionContainer .facebookList__item {
  padding: 0 10px;
  width: 25%;
  float: left;
}

.snsSectionContainer .facebookList__item a {
  margin: 10px 0;
  display: block;
}

.snsSectionContainer .thumbnail {
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-bottom: 100%;
}

.snsSectionContainer .thumbnail img {
  transition: all 0.4s ease;
  border: 1px solid #e7e7e7;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.snsSectionContainer .readMore {
  text-align: center;
  margin-top: 35px;
  padding-top: 30px;
  clear: both;
}

.snsSectionContainer .readMore a {
  width: 135px;
  padding: 10px 0;
  line-height: 9px;
  text-align: center;
  color: #801494;
  border: 1px solid #801494;
  display: inline-block;
  border-radius: 15px;
  cursor: pointer;
}

.snsSectionContainer .readMore a span {
  padding: 15px;
}

/* footer */

footer {
  padding: 10px 0;
  border-top: 1px solid #e8e8e8;
  background-color: #464646;
}

.footerContainer {
  margin: 0 auto;
  position: relative;
  padding: 0 6px;
  width: 1092px;
  height: 52px;
}

.footerContainer::before,
.footerContainer::after {
  content: " ";
  display: table;
}

.footerContainer .footerLogo {
  float: left;
  background-image: url(https://www.tire-tech.co.kr/assets/images/common/footer_logo.png);
  width: 115px;
  height: 14px;
  margin-top: 3px;
}

.footerContainer .footerInfo {
  float: left;
  margin-left: 20px;
  font-weight: 200;
  font-size: 12px;
  color: #b3b3b3;
}

.footerContainer .footerInfo span {
  display: inline-block;
  padding-right: 5px;
}

.footerContainer .footerInfo a {
  color: #8b8b8b;
}

.footerContainer .footerLink {
  margin-top: 15px;
  float: right;
  text-align: right;
  font-weight: 200;
  font-size: 12px;
}

.footerContainer .footerLink .links {
  clear: both;
  display: inline-block;
  color: #b3b3b3;
}

.footerContainer .footerLink .links a {
  color: #b3b3b3;
  display: inline-block;
  padding-right: 5px;
}

.footerContainer .footerLink .familySite {
  display: inline-block;
}

.footerContainer .footerLink .familySite select {
  padding: 0 10px;
  vertical-align: middle;
  margin: 0 3px;
  max-width: 110px;

  appearance: none;
  background: url(https://www.tire-tech.co.kr/assets/images/common/icon_snb_arr.png) no-repeat scroll 100% center #fff;
  text-indent: 0.01px;
}

/* media query */
@media (max-width: 0px) {
}

@media (max-width: 768px) {
}

@media (max-width: 992px) {
}

@media (max-width: 1169px) {
  nav {
    position: relative;
  }
  .navbar {
    width: 100%;
    padding: 0 30px;
  }

  .navbar .menu {
    display: none;
  }

  .navbar .navbar__hamburgur {
    display: block;
  }

  .hamburgur__click {
    transform: translateX(-233px);
  }

  .mainContainer {
    top: 0;
  }

  .container {
    width: 952px;
  }
}
