.header {
  background-color: lightcoral;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: #fff;
}

.topmenu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.item {
  font-size: 12px;
  line-height: 1.5;
  padding: 0;
  margin-left: 10px;
}
